 <input type="button" (click)="openFormTest()" value="New">
 <input type="button" (click)="HideRegisterForm()" value="List">
<div *ngIf="showDiv">
  {{ registerForm.value | json}}
  <form [formGroup]=registerForm (ngSubmit)="registerData()">
      <div class="form-field">
        <input type="text" pInputText formControlName="name" placeholder="First Name"> 
      </div>
      <div class="form-field">
        <input type="text" pInputText formControlName="address" placeholder="Last Name"> 
      </div>
      <div class="form-field">
        <input type="text" pInputText formControlName="city" placeholder="Address"> 
      </div>
      <div class="form-field">
        <input type="text" hidden formControlName="_id"> 
      </div>

      <div class="form-field">
        <button class ="cancel_btn" (click)="HideRegisterForm()" pButton type="button" label="Cancel">Cancel</button>
        <button *ngIf="save" class ="save_btn" pButton type="submit" label="Save">Save</button>
        <button *ngIf="update" class ="save_btn" pButton type="submit" label="Update">Update</button>
      </div>
  </form>
</div>
<div class="list-content">

<p-dataTable [value]="users" sortField="name" [sortOrder]="1"
[rows]="10" [paginator]="true">

    <p-column field="name" header="Name" sortable="true" ></p-column>
    <p-column field="address" header="Address" sortable="true" ></p-column>
    <p-column field="city" header="City" sortable="true"></p-column>
    <p-column field="_id" header="Index"></p-column>
    <p-column  header="Action">
      <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
          <span (click)="userEdit(user,i)">Edit</span>
      </ng-template>
  </p-column>
</p-dataTable>
<!-- <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()">Get CSV data</button> -->

</div>

<!-- Modal Trigger -->
   <!-- Modal Structure -->
  <div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>
<button data-target="modal" class="btn modal-trigger">Modal</button>